---
import { CollectionEntry, getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import Tag from "../../components/Tag.astro";
import BlogPost from "../../components/BlogPost.astro";
export async function getStaticPaths() {
	const blogPosts = await getCollection("blog");
	return blogPosts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}

export interface Props {
	post: CollectionEntry;
}

const { post } = Astro.props;

const firstPara = post.body.split("\n").find((el) => el.length > 200);
console.log(firstPara);
---

<BlogLayout
	title={post.data.title}
	image={post.data.image}
	description={firstPara ?? "A blog post by Christian Legge"}
>
	<a href="/blog" class="link mb-4 inline-block">&lt; Back</a>
	<BlogPost post={post} />
</BlogLayout>
