---
import BlogPost from "../../components/BlogPost.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
import { titleToSlug } from "../../util/blogTitle";

const posts = await getCollection("blog");
posts.sort((a, b) => b.slug.localeCompare(a.slug));
---

<BlogLayout title="christian legge | blog">
	<h1>My blog</h1>
	<div class="mt-4 space-y-8">
		{
			posts.map((post) => (
				<>
					<div class="post-preview relative max-h-96 overflow-clip">
						<BlogPost post={post} />
					</div>
					<a
						href={`/blog/${titleToSlug(post.data.title)}`}
						class="my-2 block w-full rounded-lg bg-linear-to-b from-slate-300 to-slate-400 py-2 text-center text-black! not-italic! no-underline!"
					>
						Full post
					</a>
					<hr />
				</>
			))
		}
	</div>
</BlogLayout>
<style>
	.post-preview {
		mask-image: linear-gradient(black, black 50%, transparent);
	}
</style>
