---
import BlogPost from "../../components/BlogPost.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<BlogLayout title="Christian Legge | Blog">
	{
		posts.map((post) => (
			<div>
				<div class="post-preview relative max-h-96 overflow-clip">
					<BlogPost post={post} />
				</div>
				<a
					href={`/blog/${post.slug}`}
					class="my-2 block w-full rounded-lg bg-green-800 bg-opacity-40 py-2 text-center hover:bg-opacity-30 active:bg-opacity-20"
				>
					Read more
				</a>
			</div>
		))
	}
</BlogLayout>
<style>
	.post-preview::after {
		content: "";
		z-index: 10;
		display: block;
		position: absolute;
		width: 100%;
		height: 8rem;
		background: linear-gradient(0deg, #f6f6f6 0%, #f6f6f600 100%);
		bottom: 0;
		pointer-events: none;
	}
</style>
