---
import MentorLayout from "../../layouts/MentorLayout.astro";
import MentorProject from "../../components/MentorProject.astro";
---

<MentorLayout>
	<MentorProject>
		<p class="h-full w-full bg-red-500">My Awesome Ass Layout</p>
	</MentorProject>
</MentorLayout>
