---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";

const experience = await getCollection("experience");
const renderedExperience = await Promise.all(
	experience.map(async (job) => ({
		...job,
		...(await job.render()),
	}))
);
renderedExperience.sort((a, b) => b.data.sortOrder - a.data.sortOrder);
---

<Layout title="experience">
	<h1 class="heading">My experience</h1>
	<p>
		These are all the places I've worked in a software engineer-like role.
		I've included my responsibilities and the technologies I broadly used
		there.
	</p>
	<p>
		<strong>Education:</strong> Along with the below job experience, I graduated
		from
		<a href="https://www.mun.ca/engineering/" class="link"
			>Memorial University</a
		> in 2019 with a Bachelor's of Engineering in Computer Engineering, with a
		focus on software development.
	</p>
	<ul class="cards mt-4 space-y-4">
		{
			renderedExperience.map((job) => (
				<li class="card">
					<Card {...job.data} extra={job.data.dates}>
						<job.Content />
					</Card>
				</li>
			))
		}
	</ul>
</Layout>
