---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="christian legge">
	<h1>christianlegge.dev</h1>
	<p>
		welcome to my website. there isn't much going on here, but if you ended
		up here, i guess you want to know what's up.
	</p>
	<p>
		writing code is like my main thing. i've been doing it for a long time.
		i learned html on neopets like everyone my age did, but i wrote my first
		"real" line of code when i was 13. i have around 10 years of
		professional <a href="experience">experience</a> and lots more doing hobby
		<a href="/projects">projects</a>.
	</p>
	<p>
		it also feels pertinent to mention up top here that i'm <strong
			><em>very strongly anti-AI</em></strong
		>. hopefully in the future that becomes less important to say. i don't
		use chatgpt, or claude, or copilot or whatever the newest thing that
		can't write good code is. i write my own code, i write it well, and my
		skills aren't hemorrhaging as a result of shifting my daily routine to
		arguing with a chatbot. you can read more of my thoughts on that <a
			href="/blog/why-dont-you-like-ai">here</a
		>, if you want.
	</p>
	<p>
		like many others of my ilk, i'm not allowed to call myself an engineer
		in this country due to strict licensing protections. but i have an
		engineering degree and i have lots of experience performing the job of a
		typical software engineer. i started my career in low-level
		infrastructure, but always enjoyed web development more, and that's most
		of what i do nowadays.
	</p>
	<p>
		i like to write sometimes. i put a <a href="blog">blog</a> section on this
		site expecting to use it for, like, tech stuff, but it's mostly just been
		personal essays. i don't contribute to it with any sort of regularity, but
		it's there.
	</p>
	<p>
		guess that's about it. feel free to look around the rest of the site. if
		you want to contact me, you can do so at [firstname] at
		christianlegge.dev.
	</p>
	<p>free palestine.</p>
</Layout>
