---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Christian Legge | ZOoTR Sim">
	<h1 class="heading">The flow of time is always cruel...</h1>
	<p>
		If you've reached this page looking for ZOoTR Sim, you probably want to
		play <a href="https://cojiro.app" class="link">Cojiro</a> instead. It's a
		full rewrite of the old ZOoTR Sim and it's much nicer to play.
	</p>
	<p>
		If you do want to play the old one, it isn't available online anymore,
		but <a href="/zootr-sim-offline.zip" class="link"
			>you can download an offline version</a
		>. It isn't kept up to date and won't work with the newest randomizer
		versions, but it should still work as long as you can still generate old
		seeds.
	</p>
	<strong>Oh, Queenie... Sorry about that!</strong>
</Layout>
<style>
	p,
	strong {
		@apply mt-4 inline-block;
	}
</style>
