---
import type { CollectionEntry } from "astro:content";
import Tag from "./Tag.astro";

export interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<article class="tailwind-global blog-post">
	<h1>
		<a
			href={`/blog/${post.slug}`}
			class="link"
			style={{ textDecorationLine: "none" }}>{post.data.title}</a
		>
	</h1>
	<p class="text-sm opacity-75" id="post-date">
		{new Date(post.slug).toUTCString().slice(0, 16)}
	</p>
	<Content />
	<ul class="mt-4 flex flex-wrap gap-1">
		{
			post.data.tags &&
				post.data.tags.map((tag) => (
					<li style={{ listStyleType: "none" }}>
						<Tag>{tag}</Tag>
					</li>
				))
		}
	</ul>
</article>
<style>
	body {
		font-size: 18px;
	}
</style>
<script>
	function containsImage(el) {
		return el.getElementsByTagName("img").length > 0;
	}
	const post = document.getElementsByClassName("blog-post");
	if (post[0] && post[0].children) {
		const textPs = Array.from(post[0].children).filter(
			(el) => (el as HTMLElement).innerText !== "" && el.tagName === "P"
		);
		let largeNext = true;
		for (const postEl of Array.from(post[0].children)) {
			if (postEl.id !== "post-date" && postEl.id !== "first-letter-exclude" && !containsImage(postEl) && largeNext && (postEl as HTMLElement).innerText !== "" && postEl.tagName === "P") {
				postEl.classList.toggle("large-first-letter");
				largeNext = false;
			}
			else if (postEl.tagName === "HR") {
				largeNext = true;
			}
		}
	}
</script>
