---
import NavLink from "../components/NavLink.astro";

const pages = ["home", "projects", "experience", "blog"];
---

<header class="pt-8 pl-8">
	<nav>
		<ul class="mx-auto flex max-w-[65ch] gap-2 lg:flex-col">
			{pages.map((page) => <NavLink page={page} />)}
		</ul>
	</nav>
</header>
