---
import NavLink from "../components/NavLink.astro";

const pages = ["home", "projects", "experience", "blog"];
---

<header class="absolute top-8 left-8">
	<nav>
		<ul class="flex flex-col gap-2">
			{pages.map((page) => <NavLink page={page} />)}
		</ul>
	</nav>
</header>
